/* 

Main 1: #ffe066
Main 2: #ffd43b 
Shade: #665a29
Tints: #ffec99
Greys: #9B9B9B (text)
#444 #333 #222 (bgcolor)
Padding: 2rem
Whitespace: 9.6rem

Box-Shadow: 
close   0 1rem 16px 1px rgba(0,0,0,.1);
card    0 0 16px 1px rgba(0,0,0,.2);
far     0 1rem 12px 4px rgba(0,0,0,0.5)

Font-sizes:
1.4     small
1.6     nav
2       normal text
Titles:
2.4
3.2
5.2

*/

/* Google Fonts: Lato regular 400, italic 400, bold 700 */

/*******************/
/* HEADINGS
/*******************/

h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -1.5px;
}
h2 {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 1.2;
}

/*******************/
/* ION-ICON
/*******************/

.ion-icon {
    fill: currentColor;
    color: currentColor;
}

/*******************/
/* HELPER CLASSES
/*******************/

.see{
    background-color: pink;
}
.small {
    font-size: 1.6rem;
}
.smaller {
    font-size: 1.4rem;
}
.centertext {
    text-align: center;
}
.wspace2 {
    margin-bottom: 1.4rem;
}
.wspace4 {
    margin-bottom: 4.8rem;
}
.wspace8 {
    margin-bottom: 8.0rem;
}
.wspace64 {
    margin-bottom: 6.4rem;
}
.wspace76 {
    margin-bottom: 7.6rem;
}
.wspace96 {
    margin-bottom: 9.6rem;
}
.marginauto {
    margin-left: auto;
    margin-right: auto;
}
.hide {
    display: none !important;
}
.width {
    max-width: 120rem;
}
.padding-around {
    padding: 2.4rem;
}
.padding-sides {
    padding: 0 2.4rem;
}
.nolist {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*******************/
/* BORDER-RADIUS
/*******************/

.radius1 {
    border-radius: 50%;
}
.radius2 {
    border-radius: 24px;
}
.radius3 {
    border-radius: 12px;
}
.radius4 {
    border-radius: 9px;
}

/*******************/
/* FLEXBOX
/*******************/



/*******************/
/* CSS GRID
/*******************/

.grid {
    display: grid;
    gap: 2.4rem;
}
.grid--2-cols {
    grid-template-columns: 1fr 1fr;
}
.grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
}

/*******************/
/* BUTTONS
/*******************/

.btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: currentColor;
    /*Align content using flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
}
