/*
75EM
BELOW 1200px:
Landscape Tablets or close to Laptops (1024px Laptops)
*/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/* 
59EM
BELOW 944px:
Portrait Tablets
*/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  /* TAGS */

  .tags {
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
  }

  .carousel-img {
    width: 20em;
  }

  .carousel-btn--left {
    right: 97%;
  }

  .carousel-btn--right {
    right: -97%;
  }


  /* CTA */

  .cta-form {
    gap: 1.2em;
  }


}

/* 
44 EM
BELOW 704px:
Smaller Tablets
*/

@media (max-width: 44em) {

  /* HERO */
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 1.8em;
  }

  /* TAGS */
  .tags__title {
    display: block;
  }

  /* CAROUSEL */
  .carousel-wrapper {
    padding-bottom: 1.4em;
  }

  .carousel-dots {
    bottom: -10%;
  }

  /* PRINCIPLES */
  .principles {
    padding: 0px 4.4em;
  }

  .principles__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 7.4em;
    row-gap: 3.4em;
  }

  /* CTA */
  .cta__inner {
    font-size: 87.5%;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .cta-form {
    gap: 0.2em;
  }


  /* FOOTER */
  .footer__inner {
    column-gap: 6.4em;
    grid-template-columns: repeat(3, 1fr)
  }

}

/* 
39 EM
Adjustments to 
CTA, Carousel, Tags and Hero
sections.
*/

@media (max-width: 39em) {

  /* HERO */
  .hero {
    grid-template-columns: 1fr;
    gap: 2.8em;
    margin-bottom: 6.6em;
  }

  .bio,
  .aside {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    box-shadow: none;
    gap: 1.2em;
  }

  .bio .padding-around {
    padding: 0;
  }

  .bio__pic {
    border-radius: 9px;
    object-fit: cover;
    object-position: 0 30%;
    height: 12.8em;
  }

  .bio .small {
    font-size: 100%;
  }

  .bio p br {
    display: none;
  }

  /* TAGS */
  .tags__wrapper {
    margin-bottom: 6.6em;
  }

  /* CAROUSEL */

  .carousel-wrapper {
    padding-bottom: 0;
    margin-bottom: 6.6em;
  }

  .carousel {
    grid-template-columns: 1fr;
    height: auto;
    align-items: center;
  }

  .carousel-img {
    width: 100%;
    border-radius: 9px;
    object-fit: cover;
    object-position: 0 30%;
    height: 12.8em;
  }

  .carousel-btn--right,
  .carousel-btn--left {
    display: none;
  }

  .carousel-dots {
    position: unset;
    transform: unset;
  }

  /* CTA */

  .cta__inner {
    grid-template-columns: 1fr;
    font-size: 100%;
    padding-bottom: 4.8em
  }

  .cta-form {
    /* from grid to flexbox */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
  }
}

/* 
34 EM
BELOW 544px:
Mobile
*/

@media (max-width: 34em) {

  /* TAGS */

  .tags {
    grid-template-columns: 1fr;
    gap: 2em;
  }

  .tag {
    font-size: 100%;
  }

  /* PRINCIPLES */

  .principles {
    padding: 0 2.4em;
  }

  .principles__grid {
    grid-template-columns: 1fr;
    row-gap: 3.2em;
    font-size: 100%;
  }

  .principles .small {
    font-size: 112.5%;
  }

  /* FOOTER */
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3.2em;
    font-size: 125%;
    column-gap: 6.4em;
  }
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */