/* 
/* Based on https://piccalil.li/blog/a-modern-css-reset/ 
/* With my own modifications 
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Setup for using rem units easily */
html {
  font-size: 62.5%;
}

/* Default scroll behavior when clicking anchors */
html:focus-within {
  scroll-behavior: smooth;
  min-height: 100%;
}

/* Set core body defaults */
body {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeSpeed;

  background-color: #333;
  color: #9B9B9B;

  min-height: 100vh;
  /* Make it flexible to get .modal-blur--regular to work */
  display: flex;
  flex-direction: column;
}

/* A elements inherit color and don't have text decoration */
a {
  color: currentColor;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  /* width: 100%; */
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}