{# Extends the Base layout #}
{% extends "layouts/base.njk" %}

{# POST LIST #}
{# UNDER CONSTRUCTION! #}
{% block content %}
    <section class="width marginauto padding-sides wspace4">
        {# TITLE #}
        <header class="article__header">
            <h1>All posts</h1>
        </header>

        <ul>
            {% for post in collections.blog %}
                <li>
                    <a class="post-link" href="{{ post.url | url }}" title="{{ post.data.description }}">{{ post.data.title }}</a>
                    <ul>
                        <li>Description: {{ post.data.description }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <section>
        {% endblock %}