{# Extends the Base layout #}
{% extends "layouts/base.njk" %}

{% block content %}
    <section class="width marginauto padding-sides wspace4">
        {# ARTICLE #}
        {% set hero = false %}
        {% include "layouts/sublayouts/article.njk" %}
        {# ASIDE #}
        {# {% include "layouts/sublayouts/aside.njk" %} #}
    </section>
{% endblock %}