<section class="carousel-wrapper wspace96">
  <div class="carousel marginauto radius4">
    <h2 class="hide">Systems</h2>
    <picture>
      <source srcset="/images/music.webp" type="image/webp"/>
      <source srcset="/images/music-min.jpg" type="image/jpg"/>
      <img
        class="carousel-img radius4 lazy"
        src="/images/music-min.jpg"
        height="200"
        alt="Studio recording gear"
/>
    </picture>
    <div class="system-text">
      <h3>Music production</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Consectetur
        adipiscing elit, sed.
      </p>
    </div>
    <button
      class="btn carousel-btn carousel-btn--left radius1"
      aria-label="Previous"
    >
      {% Icon wanted="caret-back-outline" %}
    </button>
    <button
      class="btn carousel-btn carousel-btn--right radius1"
      aria-label="Next"
    >
      {% Icon wanted="caret-forward-outline"%}
    </button>
  </div>
  <div class="carousel-dots">
    <button class="dot radius1 dot--active" aria-label="System 1">
      &nbsp;
    </button>
    <button class="dot radius1" aria-label="System 2">&nbsp;</button>
    <button class="dot radius1" aria-label="System 3">&nbsp;</button>
    <button class="dot radius1" aria-label="System 4">&nbsp;</button>
    <button class="dot radius1" aria-label="System 5">&nbsp;</button>
  </div>
</section>