<section class="cta__wrapper">
    <div class="cta__inner grid grid--2-cols width marginauto">
        <div>
            <h2>Join the newsletter</h2>
            <p>And get non-invasive, valuable updates once a week.</p>
        </div>
        <form class="cta-form" name="sign-up" netlify>
            <label class="hide" for="email">My Email</label>
            <input 
            class="radius3" 
            id="email" 
            type="text" 
            placeholder="youremail@service.com" 
            name="email"
            required/>
            <button class="btn btn--cta-form radius3">Register for free</button>
        </form>
    </div>
</section>