{# HTML HEAD CONTENTS#}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--Title-->
<title>{{title}} | Taxi, a minimal blog template by Carlos Wunsche</title>

<!--Description and Author-->
<meta name="description" content="{{ description }}"/>
<meta name="author" content="{{ author }}">

<!--Open Graph Meta Elements-->
<meta property="og:title" content="Taxi, a minimal blog template">
<meta property="og:type" content="website">
<meta property="og:url" content="https://taxi-blog-template.netlify.app/">
<meta property="og:description" content="">
<meta property="og:image" content="image.png">

<!--Favicons and Touch Icons-->
<link rel="icon" href="/favicon.ico">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
{# ADD ANDROID FAVICONS! CHECK HTML COURSE ON UNITY #}

<!--Google Fonts: Lato Regular 400, Italic 400, Bold 700-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<!--Stylesheets-->
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/global.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">