{# NAVIGATION BAR #}
<header class="main-header wspace96">
    <nav class="width padding-around marginauto">
        <ul class="main-nav__flex nolist">
            <li>
                <a class="main-nav__home" href="/" title="Homepage">Home</a>
            </li>
            <li>
                <a href="/blog/" title="Daily thoughts">Blog</a>
            </li>
            <li>
                <a onClick="modalOpen()" href="#" title="See my work">Portfolio</a>

            </li>
            <li>
                <a onClick="modalOpen()" href="#" title="Who am I?">About</a>
            </li>
            <li>
                <a href="http://dreampowder.de" title="Dream Powder">My Band</a>
            </li>
        </ul>
    </nav>
</header>