<section class="cta">
    <div class="grid grid--2-cols width marginauto adjustments">
        <div>
            <h2>Join the newsletter</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Nunc feugiat magna metus, non tristique enim faucibus eget!</p>
        </div>
        <form class="cta-form grid" action="#">
            <div>
                <label class="hide" for="full-name">My Name</label>
                <input class="radius3" id="full-name" type="text" placeholder="My Name" required/>
            </div>
            <div>
                <label class="hide" for="email">My Email</label>
                <input class="radius3" id="email" type="text" placeholder="me@service.com" required/>
            </div>
            <button class="btn btn--cta-form radius3">Register for free</button>
        </form>
    </div>
</section>