<section class="principles width marginauto padding-sides wspace96">
    <h2 class="principles__heading wspace4">Core Values and Principles</h2>
    <div class="principles__grid">
        <div class="principle__flex">
            <h3>Love Yourself</h3>
            <p class="small">Nulla pharetra diam sit amet nisl suscipit adipiscing bibendum est. Habitant morbi tristique senectus et netus. Egestas egestas fringilla phasellus faucibus.</p>
        </div>
        <div class="principle__flex">
            <h3>Constantly Learn</h3>
            <p class="small">Diam phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet. Sit amet risus nullam eget felis eget nunc. Purus viverra accumsan in nisl nisi scelerisque eu ultrices.</p>
        </div>
        <div class="principle__flex">
            <h3>Care About Others</h3>
            <p class="small">Non quam lacus suspendisse faucibus interdum posuere. Urna neque viverra justo nec ultrices dui sapien.</p>
        </div>
        <div class="principle__flex">
            <h3>Work Deeply</h3>
            <p class="small">Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue. Amet commodo nulla facilisi nullam vehicula.</p>
        </div>
    </div>
</section>