<section class="width marginauto padding-sides wspace76">
    <h2 class="tags__title">
        Tag yourself into these topics
    </h2>
    <ul class="tags nolist">
        <li>
            <a href="#" onClick="modalOpen()" class="tag small">
                {% Icon wanted = "bicycle",
                title = "Courage" %}
                <span>Courage</span>
            </a>
        </li>
        {# <li>
            <a href="#" onClick="modalOpen()" class="tag small">
                {% Icon wanted="magnet", title="Charisma" %}
                <span>Charisma</span>
            </a>
        </li> #}
        <li>
            <a href="#" onClick="modalOpen()" class="tag small">
                {% Icon wanted="heart-half", title="Self-awareness" %}
                <span>Self-awareness</span>
            </a>
        </li>
        <li>
            <a href="#" onClick="modalOpen()" class="tag small">
                {% Icon wanted = "locate",
                title = "Focus" %}
                <span>Focus</span>
            </a>
        </li>
        <li>
            <a href="#" onClick="modalOpen()" class="tag small">
                {% Icon wanted="code-slash", title="Coding habits" %}
                <span>Coding habits</span>
            </a>
        </li>
        <li>
            <a href="#" onClick="modalOpen()" class="tag small">
                {% Icon wanted = "speedometer",
                title = "Productivity" %}
                <span>Productivity</span>
            </a>
        </li>
        <li>
            <a href="#" onClick="modalOpen()" class="tag small">
                {% Icon wanted = "nutrition",
                title = "Nutrition" %}
                <span>Nutrition</span>
            </a>
        </li>
    </ul>
</section>