---
layout: layouts/blog.njk
permalink: /blog/
title: Blog
---

{# 
    This file only declares the location of "/blog/",
    that is, www.website.com/blog/index.html
    
    It also says that will use the blog .njk layout
    and includes a variable "title" with value of "Blog"
    (used in the head template for html title tag) 
#}