---
layout: layouts/home.njk
permalink: /
title: Home
---

{# 
    This file only declares the root location "/",
    that is, www.website.com/index.html
    
    It also says that will use the home.njk layout
    and includes a variable "title" with value of "Home"
    (used in the head template for html title tag) 
#}